.findInput{
  display: inline-block;
  height: 2.3em;
  font-size: 14px;
  width: 100%;

  .findInput__flexContainer{
    display: flex;
    height: 100%;
    justify-content: space-between;

    input{
      outline: none;
      border: 1px #706f6f solid;
      border-radius: 6px;
      padding: 0.4em 0.5em;
      width: 100%;
    }

    button{
      outline: none;
      background: #fff;
      border: none;
      display: block;
      cursor: pointer;
      width: 37px;

      img{
        margin: 0 auto;
        vertical-align: middle;
      }
    }
  }


}