.courseCardList__findResult{
  font-size: 24px;
  height: 1em;
  font-weight: 300;
  text-align: center;
  padding: 1em 0;
}

.courseCardList__cardsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.courseCardList__elemContainer{
  padding: 0 14px 55px 14px;
}
