.loginForm{
  width: 100vw;
  height: 100vh;
  background: #fff;

  form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  fieldset{
    border: 1px solid #22881b;
    text-align: center;

    legend{
      color: #22881b;
      text-align: left;
    }

    p{
      color: #c21800;
      font-size: 10px;
      margin: 0 0 5px 0;
      text-align: center;
    }

    input{
      display: block;
      outline: none;
    }

    input[type="text"], input[type="password"]{
      padding: 5px;
      border: 1px #22881b solid;
      border-radius: 3px;
      margin-bottom: 15px;
    }
  }
}